/* Empty — all theme variables are in main.css */

    /* Fonts */
    --font-sans-serif: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --font-family: var(--font-sans-serif);
  }

  #spark-app.dark-theme {
    --color-bg: var(--color-neutral-1);
    --color-bg-inset: #000000;
    --color-bg-overlay: var(--color-neutral-3);
  }
}